server:
  port: 8080
spring:
  application:
    name: EBServer
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/eventbus?useSSL=false&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: likavn@03.10
    hikari:
      max-lifetime: 120000
  #redis 配置
  redis:
    database: 0
    host: 127.0.0.1
    lettuce:
      pool:
        max-active: 8   #最大连接数据库连接数,设 -1 为没有限制
        max-idle: 8     #最大等待连接中的数量,设 0 为没有限制
        max-wait: -1ms  #最大建立连接等待时间。如果超过此时间将接到异常。设为-1表示无限制。
        min-idle: 0     #最小等待连接中的数量,设 0 为没有限制
      shutdown-timeout: 100ms
    port: 16379
    password: likavn@312

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: 123456
    # virtual-host: GHost
    virtual-host: /
  #rocketmq配置
rocketmq:
  name-server: 192.168.0.108:9876
  producer:
      group: ${spring.application.name} # 生产者组

eventbus:
  #type: rocketmq
  type: redis
  #type: rabbitmq
  concurrency: 5
  #msg-batch-size: 1000
  redis:
    stream-expired-hours: 24
