server:
  port: 8080
spring:
  application:
    name: park-server
  #redis 配置
  redis:
    database: 0
    host: localhost
    lettuce:
      pool:
        max-active: 8   #最大连接数据库连接数,设 -1 为没有限制
        max-idle: 8     #最大等待连接中的数量,设 0 为没有限制
        max-wait: -1ms  #最大建立连接等待时间。如果超过此时间将接到异常。设为-1表示无限制。
        min-idle: 0     #最小等待连接中的数量,设 0 为没有限制
      shutdown-timeout: 100ms
    port: 6379

  rabbitmq:
    host: localhost
    port: 5673
    username: admin
    password: 123456
    # virtual-host: GHost
    virtual-host: /

eventbus:
  #type: redis
  type: rabbitmq
  test-connect:
    loseConnectMaxMilliSecond: 40
